:root {
    --main-text-color: rgb(255, 255, 255);
    --main-bg-color: rgba(0, 0, 0, 1);
    --overlay-text-color: rgba(0, 0, 0, 1);
    --overlay-bg-color: rgba(255, 255, 255, .1);
}

* {
    font-family: "OpenSans", sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 1800px;
    background-color: var(--main-bg-color);
    margin: auto;
}

/* Handles mobile -- set for Main */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: var(--main-bg-color);
    justify-content: center;
}

/* Toggle */
/* Makes the checkbox invisible and hides it off-page */
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle + label {
    display: none; /* set to Flex */
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: red;
}

/* Monitors checked state on label */
input[type="checkbox"].toggle:checked + label {
    color: red;
}

.nav {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.nav-item {
    align-items: center;
    display: inline;
    align-content: center;
    padding: 1em;
    letter-spacing: .2em;
    vertical-align: middle;
}

.hero {
    background-color: var(--main-bg-color);
    /* background-image: url("assets/images/hero-background.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    position: relative;
    display: flex;
    color: var(--main-text-color);
    flex: 1 1 100%;
    flex-shrink: 2;
    margin: auto;
}

.div-item {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    width: 500px;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-1 {
    width: 100%;
    max-height: 750px;
    color: var(--main-text-color);
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-1,
.feature-2,
.feature-3 {
    background-color: var(--overlay-bg-color);
    border: 2px solid white;
    height: 150px;
    margin: 5px;
}

.feature-1:hover,
.feature-2:hover,
.feature-3:hover {
    font-family: "Londrina Outline", sans-serif;
    font-size: 2em;
    transition: ease-in;
}

.lower_content {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    align-items: center;
}

.about {
    background-color: var(--overlay-bg-color);
    min-height: 250px;
    width: 100%;
}

.work {
    background-color: var(--overlay-bg-color);
    min-height: 250px;
    width: 100%;
}

.contact {
    background-color: var(--overlay-bg-color);
    min-height: 250px;
    width: 100%;
}

.footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {

}

.self {
    max-height: 75%;
    opacity: 100%;
}

.nav-image {
    max-width: 50px;
}

a, a:visited {
    color: var(--main-text-color);
    text-decoration: none;

}

a:hover {
    color: rgba(255, 255, 255, .5);
    text-decoration: line-through 0.15em rgba(255, 255, 255, .5);
}

.input {
    width: 350px;
    height: 25px;
    border-radius: 1em;
    border-width: .1em;
}
