/* Sets variables for common values */
:root {
    --main-text-color: rgb(255, 255, 255);
    --text-shadow: 2px 2px 3px #000000;
    --double-border: 3px double white;
    --red-gradient: linear-gradient(rgb(179, 69, 69), rgb(0, 0, 0));
    --blue-gradient: linear-gradient(rgb(69, 166, 179), rgb(0, 0, 0));
}

/* This makes ancho jumps like butter */
* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 1800px;
    background-color: black;
    margin: 0px;
    width: 100vw;
    background-image: url("assets/images/hero_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Handles mobile -- set for Main */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.nav {
    vertical-align: middle;
    align-items: center;
}

.flex-nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    margin-top: -50px;
    margin-right: 5px;
}

.nav-item {
    flex: 0 1 0%;
    list-style: none;
    flex-wrap: wrap;
    padding:15px 30px 5px 30px;
    color: var(--main-text-color);
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.hero-text h1 {
    margin-top: -200px;
    color: var(--main-text-color);
    font-size: 5rem;
    text-align: center;
    max-width: 100%;
    text-shadow: var(--text-shadow);
}

.hero-text p {
    color: var(--main-text-color);
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    text-shadow: var(--text-shadow);
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 0%;
    width: 100vw;
}

.app {
    background-image: var(--blue-gradient);
    color: var(--main-text-color);
    border-top: var(--double-border);
    border-radius: .7em;
    min-height: 200px;
    min-width: 200px;
    width: 100vw;
    padding: 15px;
    flex: 1 0 0%;
    margin: 40px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

h1 {
    padding-top: 10px;
    font-size: 200%;
}

.app-one {
    flex-basis: 50%;
}

.about-title,
.app-one-title,
.app-two-title,
.app-three-title {
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-shadow: var(--text-shadow);
}

.about-title {
    margin-top: 0px;
}

.feature-text {
    margin-top: 10px;
}

.about {
    border-bottom: 3px double white;
    position: relative;
    display: flex;
    color: var(--main-text-color);
    min-height: 200px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    flex: 1 0 0%;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
    align-items: center;
}

/* This is where we're inverting the logo from black to white */
.about img {
    filter: invert(100%);
    position: relative;
}

.whatIDo {
    padding-top: 10px;
}

.whatIDoList {
    list-style: circle;
    list-style-position: inside;
    padding-left: 20px;
    float: inline-end;
}

.what {
    background-color: black;
}

.first {
    margin-top: 20px;
}

.apps {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 100vw;
    position: relative;
}

.other-top {
    /* Gives a smooth transition out of BG images into black */
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1));
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100vw;
    position: relative;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100vw;
    color: var(--main-text-color);
    font-size: .5em;
}

.footer {
    background-image: var(--red-gradient);
    border-top: var(--double-border);
    color: var(--main-text-color);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: .7em;
    display: block;
    width: 100vw;
    height: 100%;
}

.footer img {
    max-height: 30px;
    vertical-align: middle;
    filter: invert(100%);
}

.emailme {
    font-size: 500%;
    padding-bottom: 15px;
}

.dare {
    font-size: 150%;
    padding-bottom: 15px;
}

.nav-image {
    max-width: 50px;
    filter: invert(100%);
    transform: scale(2);
    padding: 15px 30px 5px 30px;
    margin-left: 15px;
    margin-top: 15px;
}

a, a:visited {
    color: var(--main-text-color);
    text-decoration: none;
}

nav a:hover {
    color: rgba(69, 166, 179, 0.5);
    text-decoration: line-through 0.15em rgba(179, 69, 69, .5);
}

.emailme:hover {
    font-size: 500%;
    text-decoration: none;
}

.contact h1 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 400%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-shadow: var(--text-shadow);
    width: 100vw;
}

/* Handles screens sized less than 1000px */
@media screen and (max-width: 1000px) {
    .flex-nav {
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        margin-top: -55px;
    }

    .about {
        padding-left: 5%;
        padding-right: 5%;
    }

    body {
        background-image: url("assets/images/hero_bg.jpg");
        background-attachment: fixed;
        background-size: 50%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: auto;
    }

}

/* Handles screens sized less than 310px */
@media screen and (max-width: 310px) {
    .nav-item {
        margin-right: -20px;
    }

    .hero-text h1 {
        margin-top: -200px;
        color: var(--main-text-color);
        font-size: 4rem;
        text-align: center;
        max-width: 100%;
        text-shadow: var(--text-shadow);
    }
    
    .hero-text p {
        color: var(--main-text-color);
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2rem;
        text-shadow: var(--text-shadow);
    }

}


