:root {
    --main-text-color: rgb(255, 255, 255);
    --main-bg-color: rgb(255, 255, 255);
    --overlay-text-color: rgb(0, 0, 0);
    --featured-bg-color: rgba(0, 0, 0, .5);
    --section-bg-color: rgba(255, 255, 255, 1);
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 1800px;
    background-color: var(--main-bg-color);
    margin: 0px;
    background-image: url("assets/images/hero_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Handles mobile -- set for Main */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.flex-nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    flex: 0 1 0%;
    list-style: none;
    flex-wrap: wrap;
    padding:15px 30px 5px 30px;
    color: white;
}

.nav-item img {
    filter: invert(100%);
    transform: scale(2);
    padding:15px 30px 5px 30px;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.hero-text h1 {
    margin-top: -200px;
    color: white;
    font-size: 5rem;
    text-align: center;
    max-width: 100%;
    text-shadow: 2px 2px 3px #000000;
}

.hero-text p {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    text-shadow: 2px 2px 3px #000000;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 0%;
}

.app {
    background-image: linear-gradient(rgb(69, 166, 179), rgb(0, 0, 0));
    color: white;
    border-top: 3px double white;
    border-radius: .7em;
    min-height: 200px;
    min-width: 200px;
    width: 100%;
    padding: 15px;
    flex: 1 0 0%;
    margin: 40px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

h1 {
    padding-top: 10px;
    font-size: 200%;
}

.about-title,
.app-one-title,
.app-two-title,
.app-three-title {
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 3px #000000;
}

.about-title {
    margin-top: 0px;
}

.feature-text {
    margin-top: 10px;
}

.about {
    border-bottom: 3px double white;
    position: relative;
    display: flex;
    color: white;
    min-height: 200px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    flex: 1 0 0%;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
    align-items: center;
}

.about img {
    filter: invert(100%);
    position: relative;
}

.whatIDo {
    padding-top: 10px;
}

.whatIDoList {
    list-style: circle;
    list-style-position: inside;
    padding-left: 20px;
    float: inline-end;
}

.what {
    background-color: black;
}

.first {
    margin-top: 20px;
}

.apps {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100vw;
    position: relative;
}

.app-one {
    flex: 2 1 100%;
}

.other-top {
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1));
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100vw;
    position: relative;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    /* min-height: 250px; */
    padding: 25px;
    color: white;
    font-size: .5em;
}

.footer {
    background-image: linear-gradient(rgb(179, 69, 69), rgb(0, 0, 0));
    border-top: 2px solid white;
    color: var(--main-text-color);
    text-align: center;
    padding: 10px;
    font-size: .7em;
    display: block;
    width: 100%;
    height: 100%;
}

.footer img {
    max-height: 50px;
    vertical-align: middle;
    filter: invert(100%);
}

.emailme {
    font-size: 500%;
}

.nav-image {
    max-width: 50px;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgba(69, 166, 179, 0.5);
    text-decoration: line-through 0.15em rgba(0, 0, 0, .5);
}

.emailme:hover {
    font-size: 500%;
    text-decoration: none;
}

.contact h1 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 400%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 3px #000000;
}

input {
    min-width: 100px;
    width: 100%;
    height: 25px;
    border-radius: .7em;
    border-width: .1em;
    margin-bottom: 5px;
}

form {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
}

.message {
    min-height: 100px;
}

@media screen and (max-width: 1000px) {
    .flex-nav {
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        width: 150px;
        padding-bottom: 10px;
    }

    .nav-image {
        position: absolute;
        top: 0px;
        right: 10px;
    }

    .about {
        padding-left: 5%;
        padding-right: 5%;
    }

    .body {
        background-attachment: scroll;
    }

}
