:root {
    --main-text-color: rgb(0, 0, 0);
    --main-bg-color: rgba(255, 255, 255, 1);
    --overlay-text-color: rgba(255, 255, 255, 1);
    --featured-bg-color: rgb(239, 33, 33);
    --section-bg-color: rgb(238, 146, 146);
}

* {
    font-family: "OpenSans", sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 1800px;
    background-color: var(--main-bg-color);
    margin: auto;
}

/* Handles mobile -- set for Main */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: var(--main-bg-color);
    justify-content: center;
}

/* Toggle */
/* Makes the checkbox invisible and hides it off-page */
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle + label {
    display: none; /* set to Flex */
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: red;
}

/* Monitors checked state on label */
input[type="checkbox"].toggle:checked + label {
    color: red;
}

.nav {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.nav-item {
    align-items: center;
    display: inline;
    align-content: center;
    padding: 1em;
    letter-spacing: .2em;
    vertical-align: middle;
}

.hero {
    background-color: var(--section-bg-color);
    width: 100%;
    height: 750px;
    position: relative;
    display: flex;
    color: var(--main-text-color);
    justify-content: center;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    /* align-content: center; */
}

.feature-1,
.feature-2,
.feature-3 {
    background-color: var(--featured-bg-color);
    border: 2px solid white;
    width: 600px;
    height: 150px;
    flex-grow: 1;
    transition: all .2s ease-in-out;
    overflow: hidden;
    max-height: 750px;
    color: var(--main-text-color);
    color: var(--main-text-color);
    width: 500px;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 5px; */
}

.feature-1:hover,
.feature-2:hover,
.feature-3:hover {
    transform: scaleY(1.1);
}

.lower_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    min-width: 1800px;
}

.about,
.work,
.contact {
    background-color: var(--section-bg-color);
    min-height: 250px;
    min-width: 800px;
    width: 100%;
    margin: auto;
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.self {
    max-height: 75%;
    opacity: 100%;
}

.nav-image {
    max-width: 50px;
}

a, a:visited {
    color: var(--main-text-color);
    text-decoration: none;

}

a:hover {
    color: rgba(0, 0, 0, .5);
    text-decoration: line-through 0.15em rgba(0, 0, 0, .5);
}

.input {
    width: 350px;
    height: 25px;
    border-radius: 1em;
    border-width: .1em;
}
